.container{
    
    text-align: center;
}

h2{
    margin-left: 30%;
    margin-right: 60%;
    width: 600px;
    border-radius: 10px;
    border: 2px solid;
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
    background-color: black;
}

button{
    padding: 10px;
    border-radius: 5px;
    color: black;
    background-color: white;
    cursor: pointer;
}